.atributos {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.atributos:hover,
.atributos:focus {
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.conteudoMenu {
    display: none;
    position: absolute;
    background-color: #e9dfdf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.conteudoMenu a {
    color: rgb(5, 5, 5);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.conteudoMenu a:hover {
    background-color: rgb(233, 16, 16)
}

.show {
    display: block;
}