body   {
    background-image: url('https://images.pexels.com/photos/3695801/pexels-photo-3695801.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: 100% 400%;
    color: white;
    
}
h1 {
    text-align:center;
    
}
p{
    font-size: x-large;
    text-align: center;
}