body{
    background-image: url('https://st2.depositphotos.com/1903767/6389/i/950/depositphotos_63891029-stock-photo-karo-boys-near-the-village.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}