body {
  background-image:url('https://i.pinimg.com/originals/3d/05/ce/3d05ce540b0427b00a64796e02364dd2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size:100%;
}
dialog{
 
}
