body{
    background-image: url('https://st.depositphotos.com/2458365/3409/i/600/depositphotos_34097931-stock-photo-dark-skinned-girl-warrior.jpg');
    background-repeat: no-repeat;
    background-size:100% 200%;
    color:black;
}